/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  color:bisque;
  display: flex;
  flex-direction: column;

  h1 {
    color: bisque !important;
  }
  
  .page {
    height: 100%;
    padding-top: 5rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0d0d0d;
  height: 100vh;

  h1 {
    text-transform: uppercase;
  }

  .loadingAnimation {
    height: 150px;
    width: 150px;
  }
}

.navBar {
  position: fixed !important;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 10;
  background-color: #1a1a1a;

  a {
    text-decoration: none !important;
    color:bisque !important;
  }

  h1 {
    padding: 0 1rem;
  }

  div {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90vw;

  .nextFour {
    padding-bottom: 1rem;
    width: 100%;
    .col {
      display: flex;
      justify-content: center;
    }
  }

  .imageContainer {
    position: relative;
    width: 100%;
    background-color: black;

    img {
      max-width: 100%;
      height: auto;
      opacity: 0.5;
    }

    h1 {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
    }
  }
  
  .row {
    max-width: 60vw !important;

    .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.events {
  display: grid;
  width: 100vw;

  .row {
    overflow-y: auto;
    height: 100%;

    .filterCol {
      height: 80%;
      width: 20%;
      padding: 10px;
      background-color: #1a1a1a;
      border: 2px solid bisque;
      z-index: 1;
    }

    .eventTable {
      margin-left: 1rem;
      width: 75%;
      max-height: 80vh;
      overflow-y: auto;

      .row {
        .col-md-4 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.account {
  
}