/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  color:bisque;
  display: flex;
  flex-direction: column;

  h1 {
    color: bisque !important;
  }
  
  .page {
    height: 100%;
    padding-top: 5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0d0d0d;
  height: 100vh;
}

.loadingAnimation {
  height: 150px;
  width: 150px;
}

.navBar {
  position: fixed !important;
  background-color: #0d0d0d;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 2px solid white;
  z-index: 10;

  a {
    text-decoration: none !important;
    color:bisque !important;
  }

  h1 {
    padding: 0 1rem;
  }

  div {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  
  .row {
    max-width: 90vw !important;
    
    .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}